customer/src/wsdl/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://koku.fi/schema/customer"
  targetNamespace="http://koku.fi/schema/customer"
  elementFormDefault="qualified">

  <xsd:element name="customer" type="CustomerType"/>

  <xsd:element name="customerSearchCriteria" type="CustomerSearchCriteriaType"/>
  
  <xsd:element name="customers" type="CustomersType"/>

  <xsd:complexType name="CustomerType">
    <xsd:sequence>
      <xsd:element name="id" type="bigInteger"/>
      <xsd:element name="hetu" type="xsd:string"/>
      <xsd:element name="firstName" type="xsd:string"/>
      <xsd:element name="lastName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="customerId" type="xsd:string"/>

  <xsd:complexType name="CustomersType">
    <xsd:sequence>
      <xsd:element name="customer" type="CustomerType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="CustomerSearchCriteriaType">
    <xsd:sequence>
      <xsd:element name="id" type="bigInteger" minOccurs="0"/>
      <xsd:element name="hetu" type="xsd:string" minOccurs="0"/>
      <xsd:element name="parentHetu" type="xsd:string" minOccurs="0"/>
      <xsd:element name="childHetu" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="bigInteger">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+" />
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
