customer/src/wsdl/customerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="customerService"
  targetNamespace="http://services.koku.fi/entity/customer/v1"
  xmlns:tns="http://services.koku.fi/entity/customer/v1"
  xmlns:cust="http://services.koku.fi/entity/customer/v1"
  xmlns:common="http://services.koku.fi/common/v1"
  xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >

  <wsdl:documentation>
    KoKu customer service contract definition version 1.0.
    Ixonos / aspluma
  </wsdl:documentation>

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace= "http://skeemat.jhs-suositukset.fi/yhteiset/2009/10/19" schemaLocation="jhs-ydin-20091019.xsd"/>
      <xsd:import namespace="http://services.koku.fi/common/v1" schemaLocation="common.xsd"/>
      <xsd:import namespace="http://services.koku.fi/entity/customer/v1" schemaLocation="customer.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <!--  message definitions for CRUDL style operations: add, get, update, delete, query -->


  <wsdl:message name="AuditHeader">
    <wsdl:part name="AuditHeader" element="common:auditInfo"/>
  </wsdl:message>

  <wsdl:message name="msgAddCustomerRequest">
    <wsdl:part name="Customer" element="cust:customer"/>
  </wsdl:message>

  <wsdl:message name="msgAddCustomerResponse">
    <wsdl:part name="CustomerId" element="cust:customerId"/>
  </wsdl:message>

  <wsdl:message name="msgGetCustomerRequest">
    <wsdl:part name="CustomerId" element="cust:customerId"/>
  </wsdl:message>

  <wsdl:message name="msgGetCustomerResponse">
    <wsdl:part name="Customer" element="cust:customer"/>
  </wsdl:message>

  <wsdl:message name="msgUpdateCustomerRequest">
    <wsdl:part name="Customer" element="cust:customerUpdate"/>
  </wsdl:message>

  <wsdl:message name="msgDeleteCustomerRequest">
    <wsdl:part name="CustomerId" element="cust:customerIdRemove"/>
  </wsdl:message>
  
  <wsdl:message name="msgQueryCustomersRequest">
    <wsdl:part name="CustomerSearchCriteria" element="cust:customerSearchCriteria"/>
  </wsdl:message>

  <wsdl:message name="msgQueryCustomersResponse">
    <wsdl:part name="Customers" element="cust:customers"/>
  </wsdl:message>

  <!-- interface / port type -->

  <wsdl:portType name="customerServicePortType">
    <wsdl:operation name="opAddCustomer">
      <wsdl:input message="tns:msgAddCustomerRequest"/>
      <wsdl:output message="tns:msgAddCustomerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="opGetCustomer">
      <wsdl:input message="tns:msgGetCustomerRequest"/>
      <wsdl:output message="tns:msgGetCustomerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="opUpdateCustomer">
      <wsdl:input message="tns:msgUpdateCustomerRequest"/>
    </wsdl:operation>
    <wsdl:operation name="opDeleteCustomer">
      <wsdl:input message="tns:msgDeleteCustomerRequest"/>
    </wsdl:operation>
    <wsdl:operation name="opQueryCustomers">
      <wsdl:input message="tns:msgQueryCustomersRequest"/>
      <wsdl:output message="tns:msgQueryCustomersResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="customerService-soap12-binding" type="tns:customerServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="opAddCustomer">
      <soap12:operation soapAction="http://koku.fi/action/customer/add"/>
        <wsdl:input>
          <soap12:body use="literal"/>
          <soap11:header message="tns:AuditHeader" part="AuditHeader" wsdl:required="true"/>
        </wsdl:input>
        <wsdl:output>
          <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="opGetCustomer">
      <soap12:operation soapAction="http://koku.fi/action/customer/get"/>
        <wsdl:input>
          <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="opUpdateCustomer">
      <soap12:operation soapAction="http://koku.fi/action/customer/update"/>
        <wsdl:input>
          <soap12:body use="literal"/>
        </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="opDeleteCustomer">
      <soap12:operation soapAction="http://koku.fi/action/customer/delete"/>
        <wsdl:input>
          <soap12:body use="literal"/>
        </wsdl:input>
    </wsdl:operation>
    
    <wsdl:operation name="opQueryCustomers">
      <soap12:operation soapAction="http://koku.fi/action/customer/query"/>
        <wsdl:input>
          <soap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>

  <wsdl:service name="customerService">
    <wsdl:port name="customerService-soap12-port" binding="tns:customerService-soap12-binding" >
      <soap12:address location="http://localhost:8088/customer/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
