customer/src/wsdl/customerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="customerService"
  targetNamespace="http://koku.fi/contract/customer"
  xmlns:tns="http://koku.fi/contract/customer"
  xmlns:cust="http://koku.fi/schema/customer"
  xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://koku.fi/schema/customer" schemaLocation="customer.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <!--  message definitions for CRUDL style operations: add, get, update, delete, query -->

  <wsdl:message name="msgAddCustomerRequest">
    <wsdl:part name="Customer" element="cust:customer"/>
  </wsdl:message>

  <wsdl:message name="msgAddCustomerResponse">
    <wsdl:part name="CustomerId" element="cust:customerId"/>
  </wsdl:message>

  <wsdl:message name="msgGetCustomerRequest">
    <wsdl:part name="CustomerId" element="cust:customerId"/>
  </wsdl:message>

  <wsdl:message name="msgGetCustomerResponse">
    <wsdl:part name="Customer" element="cust:customer"/>
  </wsdl:message>

  <wsdl:message name="msgUpdateCustomerRequest">
    <wsdl:part name="Customer" element="cust:customer"/>
  </wsdl:message>

  <wsdl:message name="msgDeleteCustomerRequest">
    <wsdl:part name="CustomerId" element="cust:customerId"/>
  </wsdl:message>
  
  <wsdl:message name="msgQueryCustomersRequest">
    <wsdl:part name="CustomerSearchCriteria" element="cust:customerSearchCriteria"/>
  </wsdl:message>

  <wsdl:message name="msgQueryCustomersResponse">
    <wsdl:part name="Customers" element="cust:customers"/>
  </wsdl:message>

  <!-- interface / port type -->

  <wsdl:portType name="ptCustomer">
    <wsdl:operation name="opAddCustomer">
      <wsdl:input message="tns:msgAddCustomerRequest"/>
      <wsdl:output message="tns:msgAddCustomerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="opGetCustomer">
      <wsdl:input message="tns:msgGetCustomerRequest"/>
      <wsdl:output message="tns:msgGetCustomerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="opUpdateCustomer">
      <wsdl:input message="tns:msgUpdateCustomerRequest"/>
    </wsdl:operation>
    <wsdl:operation name="opDeleteCustomer">
      <wsdl:input message="tns:msgDeleteCustomerRequest"/>
    </wsdl:operation>
    <wsdl:operation name="opQueryCustomers">
      <wsdl:input message="tns:msgQueryCustomersRequest"/>
      <wsdl:output message="tns:msgQueryCustomersResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="bdJMOR-SOAP11HTTP" type="tns:ptCustomer">
    <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="opAddCustomer">
      <soap11:operation/>
        <wsdl:input>
          <soap11:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap11:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="opGetCustomer">
      <soap11:operation/>
        <wsdl:input>
          <soap11:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap11:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="opUpdateCustomer">
      <soap11:operation/>
        <wsdl:input>
          <soap11:body use="literal"/>
        </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="opDeleteCustomer">
      <soap11:operation/>
        <wsdl:input>
          <soap11:body use="literal"/>
        </wsdl:input>
    </wsdl:operation>
    
    <wsdl:operation name="opQueryCustomers">
      <soap11:operation/>
        <wsdl:input>
          <soap11:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap11:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>

  <wsdl:service name="svCustomer">
    <wsdl:port name="customerService-http-soap11" binding="tns:bdCustomer-SOAP11HTTP" >
      <soap11:address location="http://localhost:8088/customer/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
